@mixin before_circle {
  &:before {
    content: '';
    position: absolute;
    border-radius: 100%;
    z-index: -1;
    top: -25%;
    left: 0;
    width: 36px;
    height: 36px;
    background: $main-color;
  }
}
